*{
    font-family: 'Play', sans-serif;

}

p{
font-size: 24px;
font-weight: 525;
line-height: 30px;
}

body{
    background-image: url("assets/water-color-background-png-5.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;

}

hr{
    background-color:black;
    border: 0 none;
    color: black;
    height: 2px;

}

.btn{
 background-color: purple;
 color: #f8f9fa;
 border-color: black;

}

footer{
background-color: #f8f9fa;
color: black;

}

